:root {
  --violet: rgba(125, 13, 154, 0.934);
  --white: #fff;
  --green: rgb(42 230 21);
  --blue: rgb(56 113 193);
  --blue-light: rgb(85 174 238);
  --card-big-background: rgb(255 255 255 / 44.7%);
  --card-big-border: rgb(206 61 199);
  --card-small-border: rgb(206 61 199 / 60%);
  --card-small-background: rgb(255 255 255 / 5.9%);
  --dolar-icon-color: rgb(237 224 132);
}

body {
  position: relative;
  color: var(--white);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url("./assets/image.png");
  background-size: cover;
  background-repeat:repeat-y;
}

.wrapper {
  padding: 20px;
}

.container {
  padding: 10px;
  border: 2px solid var(--white);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  z-index: 3;
  background-color: rgb(255 255 255 / 7.1%);
  backdrop-filter: blur(7px);
}

.container-background {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  z-index: -11;
  background-image: url("./assets/background-mobile.jpg");
  background-position: center 10px;
  border-radius: 20px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* burger */
.burger-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-left: auto;
}

.burger-icon {
  font-size: 24px;
  color: var(--white);
  cursor: pointer;
}

.menu {
  padding: 35px;
  list-style-type: none;
  margin: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--violet);
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.burger-icon-inside {
  position: relative;
  top: 6px;
  padding: 8px;
  display: flex;
  place-content: center center;
  border-radius: 50%;
  border: 1px solid var(--white);
  color: var(--white);
  align-self: flex-end;
  transform: scale(1.5);
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
}

/* Hide checkbox */
#toggle {
  display: none;
}

/* Hide menu by default */
.menu {
  display: none;
}

/* Show menu when checkbox is checked */
#toggle:checked + .burger-icon + .menu {
  display: flex;
}

/* burger */
nav {
  flex-grow: 1;
  display: none;
}

nav > ul {
  padding-right: 50px;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  gap: 70px;
  align-items: center;
}

.sign-up {
  border: 2px solid var(--white);
  padding: 10px 20px;
  border-radius: 30px;
}

/* main section */
main {
  display: flex;
  flex-direction: column;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

main .card-container {
  order: 1;
}

.save-money-para {
  margin-bottom: 10px;
}

.dolar-icon {
  margin-right: 5px;
  color: var(--dolar-icon-color);
}

.save-money {
  color: var(--green);
  text-transform: uppercase;
  font-size: 12px;
}

.payments-title {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 10px;
  text-align: center;
}

.discover-para {
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 60px;
  line-height: 1.5;
  text-align: center;
}

.get-started-button {
  background-color: var(--blue);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.download-button {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.card-container {
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  margin-top: 60px;
  margin-bottom: 2%;
}

.footer a {
  color: var(--blue-light);
}

/* cards */
.card {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  max-width: 330px;
}

.card h2 {
  text-align: right;
}

.card h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-info-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.card-1 {
  position: relative;
  left: 10px;
  transform: rotate(20deg) scale(0.8);
  z-index: 4;
  background: var(--card-big-background);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%); /* Adjust the blur value here */
  backdrop-filter: blur(10px);
  border: 1px solid var(--card-big-border);
}

.card-2 {
  z-index: 3;
  position: relative;
  left: -20px;
  top: -50px;
  transform: rotate(-20deg) scale(0.6);
  background-color: var(--card-small-background);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(6.5px);
  border: 1px solid var(--card-small-border);
}

/* cards */

/* x-small mobile */
@media only screen and (width <= 576px) {
  /* Your styles for x-small mobile go here */
}

/* mobile portrait–landscape */
@media only screen and (width >= 576px) {
  .wrapper {
    padding: 40px;
  }

  .container {
    padding: 30px;
  }

  .save-money-para {
    margin-bottom: 20px;
  }
  .payments-title {
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .discover-para {
    line-height: 1.7;
  }

  .button-container {
    gap: 80px;
  }
  /* Your styles for mobile portrait–landscape go here */
}

/* tablet */
@media only screen and (width >= 768px) {
  .wrapper {
    padding: 60px;
  }

  .container {
    padding: 50px;
  }

  .save-money-para {
    margin-bottom: 30px;
  }
  .payments-title {
    line-height: 1.2;
    margin-bottom: 30px;
  }

  .discover-para {
    line-height: 1.7;
  }

  .button-container {
    gap: 120px;
  }
  .card-1 {
    transform: rotate(20deg) scale(1);
  }
  .card-2 {
    transform: rotate(-20deg) scale(0.8);
  }
}

/* laptop/tablet/desktop */
@media only screen and (width >= 992px) {
.burger-menu {
  display: none;
}
nav {
  display: block;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .wrapper {
    width: 90%;
    padding: 50px;
  }
  /* .container-background{
    width: 80%;
  } */
  .container {
    padding: 80px;
  }

  header{
    margin-bottom: 50px;
  }

  main {
    flex-direction: row;
    justify-content: space-between;
    /* gap: 100px; */
  }

  main section {
    align-items: flex-start;
    order: 1;
  }
  
  main .card-container {
    order: 2;
  }

  .save-money-para {
    margin-bottom: 10px;
  }
 
  .payments-title {
   text-align: left;
   margin-bottom: 20px;
  }

  .card-1 {
    transform: rotate(20deg) scale(1.2);
  }
  .card-2 {
    transform: rotate(-20deg) scale(1);
  }

  .discover-para {
    text-align: left;
  }

  .button-container {
    gap: 100px;
  }

  .card-container{
    flex-grow: 1;
  }
  .card-1 {
    transform: rotate(20deg) scale(1);
  }
  .card-2 {
    transform: rotate(-20deg) scale(0.8);
  }
  /* Your styles for laptop/tablet/desktop go here */
}

/* large desktops */
@media only screen and (width >= 1200px) {
  
  .wrapper {
    width: 80%;
    padding: 50px;
  }
}

/* extra large desktops */
@media only screen and (width >= 1400px) {
  .wrapper {
    width: 70%;
    padding: 50px;
  }
}

.ml-auto {
  margin-left: auto;
}

.d-in-block {
  display: inline-block;
}

.fs-sm {
  font-size: 12px;
}

.sc-sm {
  transform: scale(0.7);
}

.sc-md {
  transform: scale(0.8);
}
